apiVersion: apps/v1
kind: Deployment
metadata:
  name: fraud-deployment
  namespace: xibank
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fraud
  template:
    metadata:
      labels:
        app: fraud
    spec:
      containers:
        - name: fraud
          image: emmiduh93/fraud:PLACEHOLDER_TAG
          ports:
            - containerPort: 3000
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: secret
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
