apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledger-deployment
  namespace: xibank
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ledger
  template:
    metadata:
      labels:
        app: ledger
    spec:
      containers:
        - name: ledger
          image: emmiduh93/ledger-service:v1.0
          ports:
            - containerPort: 4000
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: secret
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: ledger-db-url
                  key: DATABASE_URL
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
          livenessProbe:
            httpGet:
              path: /health
              port: 4000
